.background {
  width: 100%;
  height: 100vh;
  background-size: cover;
  color: rgb(0, 0, 0);
  text-align: center;
}
h1{
  color: indigo;
}
.content{
  padding-top: 5%;
  font-size: 5vh;
}

input{
  padding: 0.5vh;
  margin: 1vh;
}

button{
  padding: 1vh;
}
.form-control.ng-touched.ng-invalid{
  border: 2px solid red;
}